# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.guess_song_by_emoji.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\PROGRAMMING\Unity_2021\guess_song_by_emoji\.idea\.idea.guess_song_by_emoji\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
